@import "../../scss_units/vars.scss";

.messages-list {
  margin-bottom: 50px;
}

.no-messages-caption {
  display: block;
  color: $MAIN_GREY;
  margin-bottom: 30px;
}

.board-form {
  margin-bottom: 20px;

  .board-form_textarea {
    display: block;
    margin-bottom: 10px;
    resize: vertical;
    width: 50%;
    min-height: 150px;
    padding: 5px;
    border-color: $CRAYOLA;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px 0 $CRAYOLA;
    }
  }

  .board-form_button {
    background-color: $CRAYOLA;
    color: #fff;
    font-size: 16px;
    border: none;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
